body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bod {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    margin: 0;
    border: 5px solid rgb(78, 74, 97);
    border-radius: 20px;
    padding: 50px;
}

.header {
    flex-grow: 1;
    border: 1px solid black;
}

.display {
    flex-grow: 5;
    border: 1px solid black;
}

.keyboard {
    flex-grow: 10;
    border: 1px solid black;
}